body {
    font-size: 14px;
    letter-spacing: 0.4px;
}

*{
     -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.menu-list {
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    width: 200px;
    height: 155px;
    list-style: none;
}

.menu-list-default {
    box-shadow: 5px 5px 0 #63110A;
    border: 1px solid #63110A;
    background-color: #FAE498;
}


.menu-list > li {
    line-height: 22px;
}
